body{
    /* color: red; */
    margin: 0;
    background: #444444;
}

h1{
    color: white;
    font-size: 5em;
    font-family: sans-serif;
    text-shadow: 0 0 20px black;
    width: 400px;
    height: 400px;
    background: url('../../img/index/1.jpg');
    background-size: 100% 100%;
}
